{% extends "blog/base.html" %}
{% load comments %}
{% load comments_xtd %}

{% block  title %}{{ post.title }}{% endblock %}

{% block content %}
    <div class="blog-post">
        <h2 class="blog-post-title">
            <a href="{{ post.get_absolute_url }}">
                {{ post.title }}
            </a>
        </h2>
        <p class="blog-post-meta">
            Opublikowany {{ post.publish }} przez {{ post.author }}
        </p>
        Tagi:
        {% for tag in post.tags.all %}
        <span class="tag tag-pill tag-default">
            <a href="{% url 'blog:tagged' tag.slug %}" rel="tag">
                {{ tag.name }}
            </a>
        </span>
        {% endfor %}
        {% autoescape off %}
            {{ post.body|linebreaks }}
        {% endautoescape %}
    </div>
    {% get_comment_count for post as comment_count %}
    <div class="text-center" style="padding-top:20px">
      <a href="{% url 'blog:post_list' %}">Back to the post list</a>
      &nbsp;&sdot;&nbsp;
      {{ comment_count }} comments have been posted.
    </div>
    
    {% if post.allow_comments %}
    <div class="comment">
      <h4 class="text-center">Your comment</h4>
      <div class="well">
        {% render_comment_form for post %}
      </div>
    </div>
    {% endif %}
    
    {% if comment_count %}
    <hr/>
    <ul class="media-list">
      {% render_xtdcomment_tree for post %}
    </ul>
    {% endif %}
{% endblock content %}