{% extends "blog/base.html" %}
{% load comments %}

{% block  title %}{{ post.title }}{% endblock %}

{% block content %}
    <div class="blog-post">
        <h2 class="blog-post-title">
            <a href="{{ post.get_absolute_url }}">
                {{ post.title }}
            </a>
        </h2>
        <p class="blog-post-meta">
            Opublikowany {{ post.publish }} przez {{ post.author }}
        </p>
        {% autoescape off %}
            {{ post.body|linebreaks }}
        {% endautoescape %}
    </div>
    {% get_comment_count for post as comment_count %}
    <div class="text-center" style="padding-top:20px">
      <a href="{% url 'blog:post_list' %}">Back to the post list</a>
      &nbsp;&sdot;&nbsp;
      {{ comment_count }} comments have been posted.
    </div>
{% endblock content %}