{% extends "blog/base.html" %}
{% load comments %}

{% block title %}Szukaj{% endblock %}

{% block content %}
    <form type="get" action=".">
        {{ form.as_table }}
        <tr>
            <td>&nbsp;</td>
            <td><input type="submit" value="Search"></td>
          </tr>
        </table>
        {% if query %}
        <h3>Results</h3>
            {% for result in object_list %}
            <div class="blog-post">
                <h2 class="blog-post-title">
                    <a href="{{ post.get_absolute_url }}">
                        {{ result.object.title }}
                    </a>
                </h2>
                <p class="blog-post-meta">
                    Opublikowany {{ result.object.publish }} przez {{ result.object.author }}
                </p>
                Tagi:
                {% for tag in result.object.tags.all %}
                <span class="tag tag-pill tag-default">
                    <a href="{% url 'blog:tagged' tag.slug %}" rel="tag">
                        {{ tag.name }}
                    </a>
                </span>
                {% endfor %}
                {% autoescape off %}
                    {{ result.object.body|truncatewords:30|linebreaks }}
                {% endautoescape %}
            </div>
            <p class="date">
                {% get_comment_count for result.object as comment_count %}
                {% if comment_count %}
                &sdot;&nbsp;{{ comment_count }} comments
                {% endif %}
              </p>
            {% empty %}
            <p>No results found.</p>
            {% endfor %}
            {% include "pagination.html" with page=page_obj %}
        {% endif %}
        </form>
{% endblock %}